 <h4><%= "Merge Articles" %>
<tr class='noborder'>
      <td colspan=5>
        <input id="merge" type="text" name="merge[mergestring]" class='large' />
        <%= submit_tag(_("Merge"), {:class => 'btn',:controller=>:content, :action=>'merge', :id1 => 7, :id2 => 8}) %>
        <span id='spinner' style="display:none;"><%= image_tag('spinner.gif') %></span>
        <%= link_to 'Merge', {} -%>
      </td>
	 </tr>