 <h4><%= "Merge Articles" %>
<tr class='noborder'>
      <td colspan=5>
        <input id="search" type="text" name="search[searchstring]" class='large' />
        <%= submit_tag(_("Search"), {:class => 'btn'}) %>
        <span id='spinner' style="display:none;"><%= image_tag('spinner.gif') %></span>
      </td>
	 </tr>